<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i =0;i<pdctlist.length;i++){ %>
            <tr>
                <td><%= pdctlist[i].lname %></td>
                <td><%= pdctlist[i].lprice %></td>
                <td><%= pdctlist[i].lqty %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
