<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        td{
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <p style="font-weight: bold;">Books data</p>
    <!-- <%= books %> -->
    <table border="1" style="border-collapse: collapse; width: 30%;">
        <caption>Books data</caption>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
        </tr>   
    <% for(var i=0;i<books.length;i++){ %>
        <tr>
            <td><%= books[i].name %></td>
            <td><%= books[i].Author %></td>
            <td><%= books[i].Price %></td>
        </tr>       
        <% } %>
    </table>
</body>
</html>