<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <ul style="list-style-type: none;">
        <li><a href="/nwbk">Add New Book</a></li>
        <li><a href="/view">View all Books</a></li>
    </ul>  
    
    <img src="/viewimg/img2.jpg" alt="image" height="300px" width="300px" />
</body>
</html>